.App {
  text-align: center;
  background-color: #072051;
}


.pomodoro{
  color: rgb(226, 237, 238);
}

.codeTimer{
  color: rgb(226, 237, 238);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
